CREATE DATABASE DEVAPP;
CREATE USER 'developer'@'localhost' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'developer'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;

USE DEVAPP;
CREATE TABLE departments(
    DEPT int(4) primary key
    DEPT_NAME varchar(250)
)
